<div class="mobile_header">
    <div class="row">
        <div class="logo"><a href="/" class="logo">{% include 'lesaca-logo-black' %}</a></div>
        <div class="close_btn"><span class="closeIcon"></span></div>
        <div class="open_btn"><span class="open"></span></div>
    </div>
</div>
<div class="mobile_dropdown">
    <div class="row">
        {% comment %}<div class="col">
            <a href="/" class="logo">{% include 'lesaca-logo-black' %}</a>
        </div>{% endcomment %}
        <div class="col align_right">
            {% comment %}<ul>
                <li><a href="">Tops</a></li>
                <li><a href="">Dress</a></li>
                <li><a href="">Bottoms</a></li>
                <li><a href="">Outerwear</a></li>
                <li><a href="">Accessories</a></li>
            </ul>{% endcomment %} 
            <ul>
                <li><a href="/pages/2023-collection">2023 Spring Fall</a></li>
                <li><a href="/pages/2022-collection">2022 Spring Fall</a></li>
                <li><a href="/pages/2021-collection">2021 Spring Fall</a></li>
                <li>&nbsp;</li>
                {% comment %}<li><a href="/pages/collections">Collections</a></li>
               	<li><a href="">SS21 Campaign</a></li>
                <li><a href="">SS21 Lookbook</a></li> {% endcomment %} 
            </ul>
            {% comment %}<ul>
                <li>&nbsp;</li>
                <li><a href="">Tops</a></li>
                <li><a href="">Dress</a></li>
                <li><a href="">Bottoms</a></li>
                <li><a href="">Outerwear</a></li>
                <li><a href="">Accessories</a></li>
            </ul>{% endcomment %} 
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="align_right">
                <li class="store"><a href="/pages/store">Store</a></li>
                <li class="cart"><a href="{{ routes.cart_url }}">Cart [<span class="cartCount">{{ cart.item_count }}</span>]</a></li>
                {% comment %}<li><a href="">Size Guide</a></li>{% endcomment %} 
                <li><a href="/pages/legal">Care</a></li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li>&nbsp;</li> 
            </ul>
            <ul class="align_right">
                <li class="instagram"><a href="https://www.instagram.com/miguel.lesaca/" target="_blank" class="instagram">Instagram</a></li>
                {% comment %} <li><p>General Inquiries</p></li>{% endcomment %} 
                <li><a href="mailto:contact@lesaca.co?subject=General Inquiry" class="email">contact@lesaca.co</a></li>
            </ul>
        </div>
    </div>
</div>
