<!-- /templates/404.liquid -->


<div class="grid">
  {% comment %} <header class="section-header">
    <h1>Cart</h1>
  </header> {% endcomment %}

  <div class="grid__item large--five-sixths push--large--one-twelfth wrapper">
    <h1>404 Page Not Found</h1>
    <p>Continue browsing <a href="/pages/store">here</a></p>
  </div>
</div>